*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@keyframes sat1{
    from{
        top: 60%;
        left: 30%;
    }to{
        top: 60%;
        left: 65%;
        scale: 0;
    }
}

@keyframes sat2{
    from{
        top: 70%;
        left: 30%;
    }to{
        top: 60%;
        left: 25%;
        scale: 0;
    }
}

@keyframes sat11 {
    from{
        top: 90%;
        left: 50%;
    }to{
        top: 40%;
        left: 45%;
        scale: 0;
    }
    
}

@keyframes sat13 {
    from{
        top: 70%;
        left: 30%;
    }to{
        top: 90%;
        left: 45%;
        scale: 0;
    }
    
}


@keyframes sat8 {
    from{
        top: 90%;
        left: 55%;
        scale: 0;
    }to{
        top: 50%;
        left: 35%;
        scale: 1;
    }
    
}



@keyframes sat12 {
    from{
        top: 70%;
        left: 70%;
    }to{
        top: 90%;
        left: 55%;
        scale: 0;
    }
    
}

@keyframes sat3 {
    from{
        top: 50%;
        left: 40%;
    }to{
        top: 90%;
        left: 30%;
        scale: 0;
    }
    
}


@keyframes sat5 {
    from{
        top: 70%;
        left: 75%;
    }to{
        top: 80%;
        left: 30%;
        scale: 0;
    }
    
}


@keyframes sat4 {
    from{
        top: 80%;
        left: 75%;
    }to{
        top: 80%;
        left: 30%;
        scale: 0;
    }
    
}

@keyframes sat7 {
    from{
        top: 45%;
        left: 45%;
    }to{
        top: 90%;
        left: 25%;
        scale: 0;
    }
    
}

@keyframes rocket-lauched {
    from{
        bottom: 50px;
        left: 38.5rem;
        scale: 0;

    }to{
        bottom: 20rem;
        left: 38.5rem;
        scale: 1;
    }
    
}

@keyframes sat6 {
    from{
        top: 70%;
        left: 25%;
    }to{
        top: 70%;
        left: 60%;
        scale: 0;
    }
    
}

@keyframes sat9 {
    from{
        top: 54%;
        left: 60%;
    }to{
        top: 64%;
        left: 49%;
        scale: 0;
    }
    
}


@keyframes sat10 {
    from{
        top: 90%;
        left: 50%;
        scale: 0;
    }to{
        top: 50%;
        left: 50%;
        scale: 1;
    }
    
}


@keyframes sat15 {
    from{
        top: 50%;
        left: 60%;
    }to{
        top: 50%;
        left: 40%;
        scale: 0;
    }
    
}




@keyframes identifier {
    0%{
        top: 50%;
        left: 60%;

    }
    100%{
        top: 93%;
        left: 50%;
    }
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

html {
    min-height: 100%;
}

body {
    background: linear-gradient(#050e20, #010f18, #02263a);
}

#load{
    background-image: url("../images/rocket.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.white{
    color: white;
}

.space-station-position{
    position: absolute;
    top: 50%;
    animation: identifier 90s infinite;
    animation-timing-function: linear;
    left: 60%;
    transform: translate(-50%,-50%);
}

.space-station{
    width: 10rem;
    height: 5rem;
}

.load-img{
    width: 10rem;
    height: 10rem;
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}


.ground {

    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    left: 25%;
    width: 50%;
    z-index: -1;
    bottom: 0;
    height: 50%;
    background-color: rgb(0, 54, 54);
    background-image: linear-gradient(rgba(99, 196, 241, 0.295), rgba(128, 158, 154, 0.075), rgba(243, 243, 235, 0.055)), url("../images/india.png");
    background-size: 25rem;
    background-position: center;

}


.count_down{
    color: white;
    font-size: 2rem;
    text-align: center;
}



.gslv{
    background: transparent;
    position: absolute;
    bottom: 50px;
    left: 38.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    animation: rocket-lauched 30s linear;
}

.writing-board{
    margin:1rem;
    width: 20rem;
    // display: none;
    height: 10rem;
    border: 2px solid rgba(255, 0, 0, 0.363);
    padding: 1rem;
    border-radius: 22px;
    background-color: #00000081;
}


.sate{
    width: 3rem;
    height: 3rem;
}

.sat13{
    position: absolute;
    top: 90%;
    left: 25%;
    animation: sat13 50s linear infinite both;

}


.sat11{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 90%;
    left: 50%;
    animation: sat11 30s infinite both;
}

.sat1{
    position: absolute;
    top: 60%;
    left: 30%;
    animation: sat1 10s alternate-reverse  infinite both;
}
.sat2{
    position: absolute;
    top: 70%;
    left: 30%;
    animation: sat2 20s alternate-reverse infinite;
}

.sat5{
    position: absolute;
    top: 70%;
    left: 75%;
    animation: sat5 40s linear alternate-reverse infinite;
}


.sat4{
    position: absolute;
    top: 80%;
    left: 75%;
    animation: sat4 10s linear alternate-reverse infinite;
}

.sat3{
    position: absolute;
    top: 90%;
    left: 30%;
    animation: sat3 40s linear alternate-reverse infinite;
    // 60 40
}

.sat12{
    position: absolute;
    top: 90%;
    left: 55%;
    animation: sat12 50s alternate-reverse infinite;
}


.sat7{
    position: absolute;
    top: 45%;
    left: 45%;
    animation: sat7 20s linear alternate-reverse infinite;
    // 90 25

}

.sat6{
    position: absolute;
    top: 70%;
    left: 25%;
    animation: sat6 40s linear alternate-reverse infinite;
}

.sat9{
    position: absolute;
    top: 54%;
    left: 60%;
    animation: sat9 10s linear alternate-reverse infinite;
    // 64 45
}

.sat10{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: sat10 20s linear alternate-reverse infinite;
}


.sat15{
    position: absolute;
    top: 50%;
    left: 60%;
    animation: sat15 10s linear alternate-reverse infinite;
}
.sat8{

    position: absolute;
    top: 90%;
    left: 55%;
    animation: sat8 30s linear alternate-reverse infinite;
    // 40 35

}

.heading-board{
    text-align: center;
    font-size: larger;
    color: rgb(105, 130, 255);
}
.starting-board{
    display: flex;
    justify-content: space-between;
}

.launch{
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    margin: 1rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #02263a;
    color: white;
    &:hover{
        background-color: rgb(53, 80, 199);
        transition: 1s ease-in-out;
    }
}

